@page "/greeter"

<PageTitle>Weather forecast</PageTitle>

@using BlazorClient.Data
@inject GreeterService GreeterService

<h1>grpc Connection</h1>

<input type="text" @bind="@Name" />
<button @onclick="@SayHello">Say Hello</button>

<p>@Greeting</p>

@code {
    string Name;

    string Greeting;

    async public void SayHello()
    {
        this.Greeting = await this.GreeterService.SayHello(this.Name);
    }
}
